body {
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}

label {
  font-size: 16px;
  display: block;
}

button,
input {
  border: 0;
  font-family: "Josefin Slab";
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
}

button {
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: var(--primary-color);
  transition: all ease 0.25s;
  cursor: pointer;
}

button.active {
  color: var(--primary-color);
}

button.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4px;
  border-bottom: 1px solid var(--primary-color);
}

input:focus {
  outline: none;
}

select {
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  background-color: #f4f5f7;
}

.item:hover {
  cursor: pointer;
  background-color: #ebeae6;
}

.item-title {
  font-weight: 600;
  font-size: 16px;
}

.item-status {
  text-align: right;
}

.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: rgb(252, 243, 221);
  border-radius: 5px;
  max-width: 180px;
  width: 180px;
}

.col-header-div {
  display: inline-flex;
  flex-direction: row;
}

.col-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
  width: 150px;
  text-align: left;
}

.col-icon-button {
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 40px;
  right: 0px;
}

.col-icon-button:hover {
  border: black;
  background-color: #c2beb5;
  border-radius: 15px;
  font-size: medium;
}

.col {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
}

.highlight-region {
  background-color: yellow;
}

.highlight-region:hover {
  background-color: yellow;
}

#board-head {
  background-image: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
  color: white;
  text-shadow: 0px 0px 2px white, 0px 0px 5px black;
  flex: 1 100%;
  padding: 12px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 0px 16px black;
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
  font-family: "Josefin Slab";
  justify-content: center;
  align-items: center;
}

.page-header {
  width: 50vw;
  padding-top: 12px;
  padding-right: 40px;
  color: white;
  font-size: 32px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.edit-board-btn,
#back-to-profile-btn {
  display: flex;
  width: 12vw;
  height: 50px;
  background-color: #00000050;
  box-shadow: inset 0px 0px 6px black, 0px 0px 2px black;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.edit-board-btn {
  width: 58px;
  font-size: 40px;
}
#back-to-profile-btn {
  padding: 0px 20px 0px 15px;
}

.edit-board-btn:hover,
#back-to-profile-btn:hover {
  background-color: #00000000;
  box-shadow: none;
  text-decoration: underline;
  height: 64px;
}
#back-to-profile-btn:hover {
  padding: 0px 35px 0px 0px;
}

.modal {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px 20px 50px 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #031d2c;
  border: none;
  border-radius: 25px;
}

.close-btn:hover {
  background-color: #dcdcdc;
}

#add-item-btn {
  width: 100%;
  background-color: #f4f5f7;
  padding: 10px;
}

#add-item-btn:hover {
  background-color: #dad8d1;
}

*[contenteditable="true"]:focus {
  border-radius: 10px;
  border-width: 0.5px;
  border-style: dashed;
  padding: 5px;
  border-color: yellow;
}

#delete-task-btn {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: large;
  background-color: #e6e6e6;
}
#delete-task-btn:hover {
  background-color: #cecece;
}

#window-color-bar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  border-radius: 10px;
  color: transparent;
  opacity: 0.8;
}

#add-col-btn {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  background-color: rgb(252, 243, 221);
  padding: 8px;
  border-color: rgb(236, 227, 205);
  border-width: 2px;
  border-style: outset;
}

#add-col-btn:hover {
  border-style: inset;
  background-color: rgb(212, 202, 177);
  transition: none;
}

#user-header {
  background-image: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
  padding: 12px;
  height: 40px;
  color: white;
  text-shadow: 0px 0px 2px white, 0px 0px 5px black;
  font-size: 32px;
  flex: 1 100%;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 0px 16px black;
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
  font-family: "Josefin Slab";
}

.user-container {
  display: inline-flex;
  flex-direction: row;
  background-color: #444444;
  box-shadow: 0px 0px 16px black;

  text-shadow: 0px 0px 1px white, 0px 0px 7px black;
  font-family: "Josefin Slab";
  font-size: 20px;

  border-top: 10px solid;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 6px;
  border-image-source: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
}

.boardlist-container {
  width: 65vw;
  margin: 2.5vw;
  height: 60vh;
  background-color: #333333;
  border-radius: 8px;

  box-shadow: 0px 0px 2px black, inset 0px 0px 12px black;
  transition: all 0.4s ease-in-out;
}

.settings-container {
  margin: 2.5vw;
  width: 25vw;
  background-color: #333333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 2px black, inset 0px 0px 12px black;
  transition: all 0.25s ease-in-out;
}

.settings-container:hover {
  box-shadow: 0px 0px 2px black, inset 0px 0px 250px black;
  background-color: #333333;
}

.user-container-header {
  text-align: center;
  background-image: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
  border-radius: 8px;
  width: 20vw;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  color: white;

  box-shadow: 0px 3px 10px black, inset 0px 0px 2px black,
    inset 0px 1px 4px white;
}

.settings-container button {
  background-color: #333333;
  margin: 6px 20px 8px 20px;
  border-radius: 8px;
  padding: 1vw;
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
  font-family: "Josefin Slab";
}

.settings-container button:hover,
#edit-name-btn:hover {
  margin: 8px 5px 6px 5px;
  background-color: #666666;
  box-shadow: 0px 3px 10px black;
}

.login-container {
  width: 50vw;
}

.register-container {
  width: 50vw;
}

.waiting {
  position: fixed;
  margin-top: 5vh;
  background-color: rgb(206, 205, 205);
  font-size: larger;
  padding: 20vh 20vh 20vh 20vh;
  border-radius: 10px;
  opacity: 0.7;
}

.waiting img {
  width: 100px;
  padding-bottom: 4vh;
  margin-left: 5vh;
}

.dropdown-edit-board {
  display: none;
  position: absolute;
  top: 156px;
  right: 0;
  min-width: 160px;
  z-index: 1;

  background-color: #aaaaaa;
  color: white;
  font-size: 18px;
  box-shadow: 0px 6px 6px black, inset 0 0 2px black;
  border-radius: 0px 0px 8px 8px;
  height: fit-content;
}

.dropdown-edit-board a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 12px 16px 24px;
  height: 20px;
  text-decoration: none;
}

.dropdown-edit-board a:hover {
  background-color: #00000050;
  padding: 16px 24px 16px 12px;
}

#dropdown-edit-pdf:hover,
#dropdown-edit-delete:hover {
  background-color: #00000050;
  padding: 16px 12px 16px 24px;
  font-size: 24px;
}

.edit-board-btn:hover .dropdown-edit-board {
  display: block;
}

.edit-col-button {
  align-self: flex-end;
  font-size: large;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 5px;
}

.edit-col-button:hover {
  background-color: #d6e7f7;
}

.dropdown-edit-column {
  display: none;
  position: absolute;
  margin-left: -50px;
  background-color: yellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px gray;
  z-index: 1;
}

.dropdown-edit-column a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-edit-column a:hover {
  background-color: rgb(202, 201, 196);
}

.edit-col-button:hover .dropdown-edit-column {
  display: block;
}

.edit-name-window {
  background-color: rgb(250, 248, 248);
  width: 250px;
  padding: 20px;
  position: absolute;
  align-self: flex-end;
  float: right;
  margin-left: 60vw;
  box-shadow: 5px 8px 16px 5px gray;
}

.new-name {
  border: 1px solid rgb(78, 77, 77);
  margin-right: 10px;
}

#tmp {
  width: 100%;
}

.edit-col-name-window {
  position: absolute;
  margin-left: 30px;
  margin-top: 50px;
  background-color: #aaaaaa;
  box-shadow: 0px 2px 16px black, inset 0px 0px 2px black,
    inset 0px 1px 2px white;
  padding: 25px;
  z-index: 1;
  width: 250px;
  height: max-content;
  color: white;
  font-size: 18px;
  border-radius: 0px 0px 8px 8px;
}

.permission-label {
  position: absolute;
  margin-left: 30px;
  margin-top: -20px;
}

#collab-submit {
  position: relative;
  width: 100px;
  margin-left: 80px;
}

#dialog-window {
  position: absolute;
  width: 130px;
  margin-left: 60vw;
  border-style: none;
  box-shadow: 5px 8px 16px 5px gray;
  text-align: center;
  padding: 20px;
}

.dialog-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin: 10px;
  background-color: bisque;
}

#index {
  margin-left: auto;
  margin-right: auto;
}

.index-label {
  position: absolute;
  margin-top: -25px;
  margin-left: 160px;
}

.submit-button {
  position: absolute;
  margin-left: 50px;
  margin-top: 3px;
}

.user-settings-window {
  position: absolute;
  background-color: #aaaaaa;
  color: white;
  padding: 25px;
  font-size: 18px;
  box-shadow: 0px 2px 16px black, inset 0px 0px 2px black,
    inset 0px 1px 2px white;
  border-radius: 8px;
  height: fit-content;
}

.user-settings-window button {
  top: -20px;
  left: 0px;
  border-radius: 30px;
  color: rgb(255, 44, 114);
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #aaaaaa;
  box-shadow: 0px 2px 16px black, inset 0px 0px 1px black;
  text-shadow: 0px 0px 1px rgb(255, 44, 114);
}

.user-settings-window button:hover {
  margin: 0;
  color: white;
  background-color: rgb(255, 44, 114);
  text-shadow: 0px 0px 2px white;
  box-shadow: 0px 3px 10px black;
}

#setting-submit-btn {
  background-color: #888888;
  border-radius: 4px;
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
  color: white;
  box-shadow: 0px 2px 2px black;
  margin-bottom: 10px;
  transition: all 0.25s ease-in-out;
}

#setting-submit-btn:hover {
  cursor: pointer;
  color: rgb(255, 220, 70);
  text-shadow: 0px 0px 1px rgb(255, 195, 40), 0px 0px 5px black;
}

#delete-account-btn,
#dropdown-edit-delete {
  color: rgb(255, 91, 143);
  text-shadow: 0px 0px 1px crimson, 0px 0px 5px black;
  font-weight: 600;
}

#workers-list {
  display: flex;
  flex-direction: row;
  background-color: #dad8d1;
  width: fit-content;
}

#workers-list a {
  font-size: medium;
  border: 1px solid black;
  box-shadow: 0px 5px 5px 1px rgb(104, 96, 96);
  padding: 10px;
}

#worker-button {
  background-color: rgb(225, 231, 231);
  font-size: medium;
  color: black;
  padding: 10px;
  box-shadow: 0px 5px 5px 1px rgb(104, 96, 96);
}
