body {
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}

label {
  font-size: 16px;
  display: block;
}

button,
input {
  border: 0;
  font-family: "Josefin Slab";
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
}

button {
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: var(--primary-color);
  transition: all ease 0.25s;
  cursor: pointer;
}

button.active {
  color: var(--primary-color);
}

button.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4px;
  border-bottom: 1px solid var(--primary-color);
}

input:focus {
  outline: none;
}

select {
  outline: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #444444;
  box-shadow: 0px 0px 24px black;

  text-shadow: 0px 0px 1px white, 0px 0px 7px black;
  font-family: "Josefin Slab";
  font-size: 20px;

  border-top: 10px solid;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 6px;
  border-image-source: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );

  color: white;
}

.item,
.board-button,
#worker-button {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  z-index: 1;
  background-color: none;
  box-shadow: inset 0 0 8px #00000075;
  transition: all 0.25s ease-in-out;
}

.board-button {
  color: white;
  text-shadow: 0px 0px 1px white, 0px 0px 7px black;
  font-size: 24px;
  margin-right: 40px;
  width: 52vw;
}
.board-button a {
  font-size: inherit;
}

.item:hover,
.board-button:hover,
#worker-button:hover {
  cursor: pointer;
  background-color: #ffffff50;
  box-shadow: 0 0 6px black;
}

.item-title {
  font-size: 16px;
}

.item-status {
  text-align: right;
}

.color-bar {
  width: 100%;
  height: 5px;
  border-radius: 5px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;

  border-radius: 8px;
  background-color: #666666;
  box-shadow: 0px 0px 2px black, inset 0px 0px 12px black;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 18px 12px;
  padding: 16px 8px;
  background-color: #888888;
  border-radius: 5px;
  max-width: 200px;
  width: 200px;
  box-shadow: 0px 0px 10px black, 0px 0px 0px black, inset 0px 0px 2px black;
  transition: all 0.25s ease-in-out;
}
.col-wrapper:hover {
  box-shadow: 0px 0px 10px black, 0px 15px 30px black, inset 0px 2px 5px white,
    inset 0px 2px 3px black;
}

.col-header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-header {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  width: 150px;
  text-align: center;
  padding-right: 0px;
}

.icon-div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px black, inset 0 2px 4px #ffffff80;
  align-self: center;
  margin-bottom: 12px;
}

.icon-div:hover {
  background-color: #00000000;
  box-shadow: 0 2px 6px #ffffff80, inset 0 2px 4px #00000080;
}
#status-div-dot {
  display: flex;
  align-items: center;
}
#status-dot,
#status-div {
  display: inline-flex;
  align-items: center;
}
#status-dot {
  margin-top: 4px;
}
#status-div {
  margin: 10px;
}
#status-dot:hover {
  box-shadow: 0 2px 6px black, inset 0 2px 4px #ffffff80;
}

.highlight-region {
  transition: all 0.3s ease-in-out;
  background-color: #ffffff50;
}

.highlight-region:hover {
  background-color: #00000050;
  border-radius: 8px;
}

#board-head {
  background-image: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
  color: white;
  text-shadow: 0px 0px 2px white, 0px 0px 5px black;
  flex: 1 100%;
  padding: 12px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 0px 16px black;
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
  font-family: "Josefin Slab";
  justify-content: center;
  align-items: center;

  border: 0;
}

.page-header {
  width: 50vw;
  padding-top: 12px;
  padding-right: 40px;
  color: white;
  font-size: 32px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.edit-board-btn,
#back-to-profile-btn {
  display: flex;
  width: 140px;
  height: 50px;
  background-color: #00000050;
  box-shadow: inset 0px 0px 6px black, 0px 0px 2px black;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.edit-board-btn {
  width: 58px;
  font-size: 40px;
}
#back-to-profile-btn {
  padding: 0px 20px 0px 15px;
}

.edit-board-btn:hover,
#back-to-profile-btn:hover {
  background-color: #00000000;
  box-shadow: none;

  height: 68px;
}
#back-to-profile-btn:hover {
  text-decoration: underline;
  padding: 0px 35px 0px 0px;
}

.modal {
  background-color: #777777;
  color: white;
  text-shadow: 0 0 3px black, 0 0 1px white;
  border-radius: 8px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px 20px 50px 20px;
  filter: none;
  box-shadow: 0 0 48px black, 0 0 24px black, inset 0 2px 5px white;
  font-family: "Josefin Slab";
  font-size: 24px;
  height: fit-content;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000040;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.close-btn-ctn {
  display: flex;
}

#title-field {
  font-size: 40px;
}

.closes-btn {
  border: none;
  border-radius: 30px;
  color: rgb(255, 44, 114);
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #bbbbbb;
  box-shadow: 0px 1px 10px black;
  text-shadow: 0px 0px 1px rgb(255, 44, 114);
  font-size: 24px;
  transition: all 0.25s ease-in-out;
}

.closes-btn:hover {
  color: white;
  background-color: rgb(255, 44, 114);
  text-shadow: 0px 0px 2px white;
  box-shadow: 0px 5px 15px black;
}

#add-item-btn {
  width: 100%;
  height: 40px;
  background-image: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
  box-shadow: 0px 3px 10px black, inset 0px 0px 2px black,
    inset 0px 1px 4px white;
  padding: 10px 0 6px 0;
  font-size: 16px;
}

#add-item-btn:hover {
  font-size: 20px;
  text-shadow: 0 0 4px black, 0 0 1px white;
  text-decoration: underline;
}
*[contenteditable="true"] {
  margin: 20px 10px;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}
*[contenteditable="true"]:focus {
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  border-color: rgb(255, 44, 114);
  box-shadow: 0 0 8px #ffffff50, inset 0 0 8px #ffffff50,
    0 0 4px rgb(255, 44, 114);
}

#delete-task-btn {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: 24px;
  color: rgb(255, 44, 114);
  background-color: #bbbbbb;
  box-shadow: 0px 4px 10px #000000aa;
  text-shadow: 0px 0px 1px rgb(255, 44, 114);
  font-size: 24px;
  transition: all 0.25s ease-in-out;
}
#delete-task-btn:hover {
  color: white;
  background-color: rgb(255, 44, 114);
  text-shadow: 0px 0px 2px white;
  box-shadow: 0px 5px 15px black;
}

#window-color-bar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  border-radius: 10px;
  color: transparent;
  opacity: 0.8;
  box-shadow: 0 4px 8px black, inset 0 2px 3px #ffffff90;
}

#add-col-btn,
#show-add-board-window-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200px;
  left: 16px;
  width: 50px;
  height: 50px;
  font-size: 40px;

  color: white;
  background-image: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
  box-shadow: 0px 3px 10px black, inset 0px 0px 2px black,
    inset 0px 1px 4px white;
}
#show-add-board-window-btn {
  position: absolute;
  top: 256px;
  left: 59vw;
  margin-top: -10px;
}

#add-col-btn:hover,
#show-add-board-window-btn:hover {
  text-shadow: 0 0 10px black, 0 0 5px white;
  font-size: 80px;
  border-radius: 25px;
}

#user-header {
  background-image: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
  padding: 12px;
  height: 40px;
  color: white;
  text-shadow: 0px 0px 2px white, 0px 0px 5px black;
  font-size: 32px;
  flex: 1 100%;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 0px 16px black;
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
  font-family: "Josefin Slab";
}

.user-container {
  display: inline-flex;
  flex-direction: row;
  background-color: #444444;
  box-shadow: 0px 0px 16px black;

  text-shadow: 0px 0px 1px white, 0px 0px 7px black;
  font-family: "Josefin Slab";
  font-size: 20px;

  border-top: 10px solid;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 6px;
  border-image-source: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
}

.boardlist-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 2.5vw;
  height: 60vh;
  background-color: #333333;
  border-radius: 8px;

  align-items: center;
  box-shadow: 0px 0px 2px black, inset 0px 0px 12px black;
  transition: all 0.4s ease-in-out;
}

.settings-container {
  margin: 2.5vw;
  width: 25vw;
  background-color: #333333;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 2px black, inset 0px 0px 12px black;
  transition: all 0.25s ease-in-out;
}

.settings-container:hover {
  box-shadow: 0px 0px 2px black, inset 0px 0px 250px black;
  background-color: #333333;
}

.user-container-header {
  text-align: center;
  border-radius: 8px;
  width: 20vw;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  color: white;

  background-image: linear-gradient(
    to left,
    rgb(255, 213, 74),
    rgb(255, 44, 114)
  );
  box-shadow: 0px 3px 10px black, inset 0px 0px 2px black,
    inset 0px 1px 4px white;
}

.settings-container button {
  background-color: #333333;
  margin: 6px 20px 8px 20px;
  border-radius: 8px;
  padding: 1vw;
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
  font-family: "Josefin Slab";
}

.settings-container button:hover,
#edit-name-btn:hover {
  margin: 8px 5px 6px 5px;
  background-color: #666666;
  box-shadow: 0px 3px 10px black;
}

.login-container {
  width: 50vw;
}

.register-container {
  width: 50vw;
}

.waiting {
  position: fixed;
  margin-top: 5vh;
  background-color: rgb(206, 205, 205);
  font-size: larger;
  padding: 20vh 20vh 20vh 20vh;
  border-radius: 10px;
  opacity: 0.7;
}

.waiting img {
  width: 100px;
  padding-bottom: 4vh;
  margin-left: 5vh;
}

.dropdown-edit-board {
  display: none;
  position: absolute;
  top: 152px;
  right: 0;
  min-width: 160px;
  z-index: 1;

  background-color: #999999;
  color: white;
  font-size: 18px;
  box-shadow: 0px 6px 6px black, inset 0 0 2px black;
  border-radius: 0px 0px 8px 8px;
  height: fit-content;
}

.dropdown-edit-board a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 12px 16px 24px;
  height: 20px;
  text-decoration: none;
}

.dropdown-edit-board a:hover {
  background-color: #00000050;
  padding: 16px 24px 16px 12px;
}

#dropdown-edit-pdf:hover,
#dropdown-edit-delete:hover {
  background-color: #00000050;
  padding: 16px 12px 16px 24px;
  font-size: 24px;
}

.edit-board-btn:hover .dropdown-edit-board {
  display: block;
}

.edit-col-button {
  align-self: flex-start;
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #00000050;
  padding: 0px 6px;
  box-shadow: inset 0px 0px 6px black, 0px 0px 2px black;
  transition: all 0.25s ease-in-out;
}

.edit-col-button:hover {
  background-color: #00000000;
  box-shadow: none;
}

.dropdown-edit-column {
  display: none;
  position: absolute;
  margin-left: -172px;
  width: 200px;
  z-index: 1;

  background-color: #999999;
  color: white;
  font-size: 16px;
  box-shadow: 0px 6px 6px black, inset 0 0 2px black;
  border-radius: 8px;
  height: fit-content;
}

.dropdown-edit-column a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0px;
  height: 28px;
  text-decoration: none;
}

.dropdown-edit-column a:hover {
  background-color: #00000050;
  padding: 16px 0px;
  font-size: 24px;
}

.edit-col-button:hover .dropdown-edit-column {
  display: block;
}

.edit-name-window {
  background-color: #999999;
  color: white;
  width: 180px;
  padding: 20px;
  position: absolute;
  right: 230px;
  top: 180px;
  box-shadow: 0px 6px 6px black, inset 0 0 2px black;
  font-size: 18px;
  border-radius: 5px;
  text-shadow: 0px 0px 1px white, 0px 0px 8px black;
  font-family: "Josefin Slab";
}

.new-name {
  border: 1px solid rgb(78, 77, 77);
  margin-right: 10px;
}

#tmp {
  width: 100%;
}

.edit-col-name-window {
  position: absolute;
  background-color: #999999;
  box-shadow: 0px 2px 16px black, inset 0px 0px 2px black,
    inset 0px 1px 2px white;
  padding: 25px;
  z-index: 1;
  width: 250px;
  height: max-content;
  color: white;
  font-size: 18px;
  border-radius: 8px;
}

.permission-label {
  position: absolute;
  margin-left: 30px;
  margin-top: -20px;
}

#collab-submit {
  position: relative;
  width: 100px;
  margin-left: 80px;
}

#dialog-window {
  position: absolute;
  width: 180px;
  margin-left: 60vw;
  border-style: none;
  box-shadow: 5px 8px 16px 5px gray;
  text-align: center;
  padding: 20px;
}

.dialog-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin: 10px;
  background-color: bisque;
}

#index {
  margin-left: auto;
  margin-right: auto;
}

.index-label {
  position: absolute;
  margin-top: -25px;
  margin-left: 160px;
}

.submit-button {
  position: absolute;
  margin-left: 50px;
  margin-top: 3px;
}

.user-settings-window,
#create-board-window {
  position: absolute;
  right: 28vw;
  background-color: #999999;
  color: white;
  padding: 25px;
  font-size: 18px;
  box-shadow: 0px 2px 16px black, inset 0px 0px 2px black,
    inset 0px 1px 2px white;
  border-radius: 8px;
  height: fit-content;
  z-index: 2;
}

.user-settings-window button,
.edit-name-window button,
.edit-col-name-window button,
#create-board-window button {
  top: -15px;
  left: 0px;
  border-radius: 30px;
  color: rgb(255, 44, 114);
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #999999;
  box-shadow: 0px 2px 16px black, inset 0px 0px 1px black;
  text-shadow: 0px 0px 1px rgb(255, 44, 114);
  font-size: 24px;
  z-index: inherit;
}
.edit-name-window button {
  left: -70px;
  top: -20px;
}
.edit-col-name-window button {
  left: 10px;
  top: -20px;
}

.user-settings-window button:hover,
.edit-name-window button:hover,
.edit-col-name-window button:hover,
#create-board-window button:hover {
  margin: 0;
  color: white;
  background-color: rgb(255, 44, 114);
  text-shadow: 0px 0px 2px white;
  box-shadow: 0px 3px 10px black;
}
.edit-name-window button:hover,
.edit-col-name-window button:hover,
#create-board-window button:hover {
  top: -30px;
}

#setting-submit-btn,
#collab-submit,
#submit-btn-name,
#submit-btn-index,
#add-board-btn {
  background-color: #888888;
  border-radius: 4px;
  padding: 8px;
  font-family: inherit;
  font-size: 18px;
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
  color: white;
  box-shadow: 0px 2px 2px black;
  margin-bottom: 8px;
  transition: all 0.25s ease-in-out;
}
#collab-submit {
  margin: 10px 0px 0px 0px;
}
#submit-btn-name,
#add-board-btn {
  margin-left: 20px;
}
#submit-btn-index {
  right: 20px;
}
#setting-submit-btn:hover,
#collab-submit:hover,
#submit-btn-name:hover,
#submit-btn-index:hover,
#add-board-btn:hover {
  cursor: pointer;
  color: rgb(255, 220, 70);
  text-shadow: 0px 0px 1px rgb(255, 195, 40), 0px 0px 5px black;
}

#delete-account-btn,
#dropdown-edit-delete {
  color: rgb(255, 91, 143);
  text-shadow: 0px 0px 1px crimson, 0px 0px 5px black;
}

#delete-account-btn:hover,
#dropdown-edit-delete:hover {
  border-radius: 0 0 8px 8px;
  background-color: rgba(255, 0, 81, 0.7);
  color: white;
  text-shadow: 0px 0px 1px white;
  padding: 16px 0px;
}
#delete-account-btn:hover {
  border-radius: 8px;
  padding: 16px 0;
}

#workers-list {
  display: flex;
  flex-direction: row;
  background-color: #999999;
  border-radius: 8px;
  width: fit-content;
  margin-bottom: 16px;
}

#workers-list a {
  font-size: medium;
  padding: 10px;
  margin: 0 2px;
}

#workers-button {
  font-size: 20px;
}

#dialog-window {
  background-color: #aaaaaa;
  border-radius: 8px;
  color: white;
  text-shadow: 0px 0px 1px white, 0px 0px 5px black;
  box-shadow: 0 4px 8px black, inset 0 2px 2px #ffffff50;
  font-size: 24px;
  font-family: "Josefin Slab";
  padding: 10px;
}

.dialog-button {
  background-color: #888888;
  color: rgb(255, 44, 114);
  border-radius: 6px;
  box-shadow: 0 2px 4px black, inset 0 2px 2px #ffffff50;
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
  text-shadow: 0px 0px 1px crimson, 0px 0px 5px black;
}
.dialog-button:hover {
  background-color: rgba(255, 0, 81, 0.7);
  color: white;
  text-shadow: 0px 0px 1px white;
}
