body {
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}

label {
  font-size: 16px;
  display: block;
}

button,
input {
  padding: 4px;
  border: 1px solid var(--disabled-color);
}

button {
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: var(--primary-color);
  transition: all ease 0.8s;
  cursor: pointer;
}

button.active {
  color: var(--primary-color);
}

button.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4px;
  border-bottom: 1px solid var(--primary-color);
}

input:focus {
  outline: none;
}

select {
  outline: none;
  height: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  background-color: #f4f5f7;
}

.item:hover {
  cursor: pointer;
  background-color: #ebeae6;
}

.item-title {
  font-weight: 600;
  font-size: 16px;
}

.item-status {
  text-align: right;
}

.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;
}

.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: rgb(252, 243, 221);
  border-radius: 5px;
  max-width: 180px;
  width: 180px;
}

.col-header-div {
  display: inline-flex;
  flex-direction: row;
}

.col-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
  width: 150px;
  text-align: left;
}

.col-icon-button {
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 40px;
  right: 0px;
}

.col-icon-button:hover {
  border: black;
  background-color: #c2beb5;
  border-radius: 15px;
  font-size: medium;
}

.col {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
}

.highlight-region {
  background-color: yellow;
}

.highlight-region:hover {
  background-color: yellow;
}

.page-header {
  background-color: #054f7c;
  padding: 20px;
  color: white;
  font-size: 30px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.modal {
  background-color: #f4f5f7;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px 20px 50px 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #031d2c;
  border: none;
  border-radius: 25px;
}

.close-btn:hover {
  background-color: #dcdcdc;
}

#add-item-btn {
  width: 100%;
  background-color: #f4f5f7;
  padding: 10px;
}

#add-item-btn:hover {
  background-color: #dad8d1;
}

*[contenteditable="true"]:focus {
  border-radius: 10px;
  border-width: 0.5px;
  border-style: dashed;
  padding: 5px;
  border-color: yellow;
}

#delete-task-btn {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  font-size: large;
  background-color: #e6e6e6;
}
#delete-task-btn:hover {
  background-color: #cecece;
}

#window-color-bar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10px;
  border-radius: 10px;
  color: transparent;
  opacity: 0.8;
}

.edit-board-btn {
  border-radius: 0 5px 5px 0;
  font-size: 32px;
  width: 150px;
  background-color: #6ba4b6;
  margin-bottom: 10px;
  border-color: rgb(228, 218, 197);
  border-width: 2px;
  border-style: outset;
}

.edit-board-btn:hover {
  border-style: inset;
}

#back-to-profile-btn {
  border-radius: 5px 0 0 5px;
  width: 150px;
  background-color: #6ba4b6;
  margin-bottom: 10px;
  border-color: rgb(228, 218, 197);
  border-width: 2px;
  border-style: outset;
}

#back-to-profile-btn:hover {
  border-style: inset;
}

#add-col-btn {
  align-self: flex-start;
  margin-top: 20px;
  font-size: 24px;
  background-color: rgb(252, 243, 221);
  padding: 8px;
  border-color: rgb(236, 227, 205);
  border-width: 2px;
  border-style: outset;
}

#add-col-btn:hover {
  border-style: inset;
  background-color: rgb(212, 202, 177);
  transition: none;
}

#user-header {
  background-color: #054f7c;
  padding: 20px;
  color: white;
  font-size: 30px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.user-container {
  display: inline-flex;
  flex-direction: row;
}

.boardlist-container {
  width: 50vw;
  margin: 2.5vw;
  height: 60vh;
  background-color: #6ba4b6;
  border-radius: 20px;
}

.settings-container {
  margin: 2.5vw;
  width: 40vw;
  background-color: #6ba4b6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.user-container-header {
  text-align: center;
  background-color: white;
  border-radius: 60px;
  width: 150px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}

.settings-container button {
  background-color: rgb(252, 243, 221);
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 25px;
  padding: 1vw;
  margin-bottom: 1vh;
  font-size: medium;
}

.settings-container button:hover {
  background-color: rgb(199, 188, 160);
}

.login-container {
  width: 50vw;
}

.register-container {
  width: 50vw;
}

.waiting {
  position: fixed;
  margin-top: 5vh;
  background-color: rgb(206, 205, 205);
  font-size: larger;
  padding: 20vh 20vh 20vh 20vh;
  border-radius: 10px;
  opacity: 0.7;
}

.waiting img {
  width: 100px;
  padding-bottom: 4vh;
  margin-left: 5vh;
}

.dropdown-edit-board {
  display: none;
  position: absolute;
  margin-left: -50px;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px gray;
  z-index: 1;
}

.dropdown-edit-board a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-edit-board a:hover {
  background-color: rgb(202, 201, 196);
}

.edit-board-btn:hover .dropdown-edit-board {
  display: block;
}

.edit-col-button {
  align-self: flex-end;
  font-size: large;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 5px;
}

.edit-col-button:hover {
  background-color: #d6e7f7;
}

.dropdown-edit-column {
  display: none;
  position: absolute;
  margin-left: -50px;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px gray;
  z-index: 1;
}

.dropdown-edit-column a {
  color: black;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-edit-column a:hover {
  background-color: rgb(202, 201, 196);
}

.edit-col-button:hover .dropdown-edit-column {
  display: block;
}

.edit-name-window {
  background-color: rgb(250, 248, 248);
  width: 250px;
  padding: 20px;
  position: absolute;
  align-self: flex-end;
  float: right;
  margin-left: 60vw;
  box-shadow: 5px 8px 16px 5px gray;
}

.new-name {
  border: 1px solid rgb(78, 77, 77);
  margin-right: 10px;
}

#tmp {
  width: 100%;
}

.edit-col-name-window {
  position: absolute;
  margin-left: 30px;
  margin-top: 50px;
  background-color: rgb(250, 248, 248);
  box-shadow: 5px 8px 16px 5px gray;
  padding: 25px;
  z-index: 1;
  width: 250px;
}

.permission-label {
  position: absolute;
  margin-left: 30px;
  margin-top: -20px;
}

#collab-submit {
  position: relative;
  width: 100px;
  margin-left: 80px;
}
