#loginNavbar {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  text-align: right;
  align-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

a {
  text-decoration: none;
  color: darkslategrey;
  font-size: large;
}

a:hover {
  font-weight: bold;
  text-shadow: 2px 1px rgb(182, 180, 180);
}

#loginNavbar h3 {
  text-decoration: underline;
  padding-right: 10px;
}

#loginNavbar h4 {
  padding-right: 15px;
}
